* * * * * start_connect('sk0mmr') unless connected('sk0mmr')
* * * * * start_connect('sk1mmr') unless connected('sk1mmr')
0,20,40 * * * * start_connect('vk2az-2') unless connected('vk2az-2')
1,21,41 * * * * start_connect('n6ws-6') unless connected('n6ws-6')
2,22,42 * * * * start_connect('k4uj-3') unless connected('k4uj-3')
3,23,43 * * * * start_connect('g6nhu-2') unless connected('g6nhu-2')
4,24,44 * * * * start_connect('wb3ffv-2') unless connected('wb3ffv-2')
5,25,45 * * * * start_connect('iz2lsc-99') unless connected('iz2lsc-99')
6,26,46 * * * * start_connect('pa4jj-3') unless connected('pa4jj-3')
7,27,47 * * * * start_connect('ve3zin-2') unless connected('ve3zin-2')
8,28,48 * * * * start_connect('n2wq-1') unless connected('n2wq-1')
9,29,49 * * * * start_connect('pi4cc') unless connected('pi4cc')
10,30,50 * * * * start_connect('vk5gr-2') unless connected('vk5gr-2')
11,31,51 * * * * start_connect('s50dxs') unless connected('s50dxs')
12,32,52 * * * * start_connect('f4bwt-3') unless connected('f4bwt-3')
13,33,53 * * * * start_connect('pa0esh-3') unless connected('pa0esh-3')
14,34,54 * * * * start_connect('n3bsq-1') unless connected('n3bsq-1')
15,35,55 * * * * start_connect('ed1zac-5') unless connected('ed1zac-5')
16,36,56 * * * * start_connect('f1fca-2') unless connected('f1fca-2')
17,37,57 * * * * start_connect('dh1tw-2') unless connected('dh1tw-2')
18,38,58 * * * * start_connect('g1fef-2') unless connected('g1fef-2')
19,39,59 * * * * start_connect('ea7jxh') unless connected('ea7jxh')

# Send announce full/local (At minute 30)
0 * * * * run_cmd('ann full 9M2PJU-2 West Malaysia DX Cluster node. Web DX Cluster at https://dx.hamradio.my ' . cldate . ' ' . ztime)
0,15,30,45 * * * * run_cmd('ann local Hello from 9M2PJU. To use the spot function, users must register. Please email 9m2pju@hamradio.my to register. This announcement is made on ' . cldate . ' ' . ztime)

# AutoUpdate DXSpider Server (At 04:00 on Monday, Tuesday, Wednesday, Thursday, and Friday)
0 4 * * 1,2,3,4,5 run_cmd("check_build Y")

# AutoUpdate USDB (At 02:00 on Monday, Wednesday, and Friday)
0 2 * * 1,3,5 spawn("cd /tmp | wget -qN ftp://ftp.w1nr.net/usdbraw.gz & /spider/perl/create_usdb.pl usdbraw.gz")
5 2 * * 1,3,5 run_cmd("load/usdb")
10 2 * * 1,3,5 spawn("rm /tmp/usdbraw.gz")

# AutoUpdate Keps (At 02:00 on Tuesday, Thursday, and Saturday)
0 2 * * 2,4,6 spawn("cd /tmp | wget -qN http://www.amsat.org/amsat/ftp/keps/current/nasabare.txt & /spider/perl/convkeps.pl -p nasabare.txt &")
5 2 * * 2,4,6 run_cmd("load/keps")
10 2 * * 2,4,6 spawn("rm /tmp/nasabare.txt")

# AutoUpdate CTY.DAT (At 03:00 on Sunday, Tuesday, and Friday)
0 3 * * 0,2,5 spawn("cd /spider/local_data | wget -qN https://www.country-files.com/cty/cty.dat &")
0 3 * * 0,2,5 spawn("cd /spider/local_data | wget -qN https://www.country-files.com/cty/wpxloc.dat &")
0 3 * * 0,2,5 spawn("cd /spider/local_data | wget -qN https://www.country-files.com/cty/wpxloc.raw &")
2 3 * * 0,2,5 spawn("cd /spider/local_data | /spider/perl/create_prefix.pl")
3 3 * * 0,2,5 run_cmd("load/prefix")

# remove old files (At 00:00 in every month from January through December)
0 0 * 1-12 * spawn(q[find /spider/local_data/debug -type f -mtime +2 -exec rm -f {} \;])
2 0 * 1-12 * spawn(q[find /spider/local_data/log -type f -mtime +2 -exec rm -f {} \;])
3 0 * 1-12 * spawn(q[find /spider/local_data/spots -type f -mtime +2 -exec rm -f {} \;])
4 0 * 1-12 * spawn(q[find /spider/local_data/wcy -type f -mtime +1 -exec rm -f {} \;])
5 0 * 1-12 * spawn(q[find /spider/local_data/wwv -type f -mtime +1 -exec rm -f {} \;])

# Blacklist. TOR & Others (At minute 30)
30 * * * * spawn('cd /spider/local_data; wget -qN http://www.dxspider.net/download/badip.torexit')
30 * * * * spawn('cd /spider/local_data; wget -qN http://www.dxspider.net/download/badip.torrelay')
30 * * * * spawn('cd /spider/local_data; wget -qN http://www.dxspider.net/download/badip.global')
31 * * * * run_cmd('load/badip')

